/* 底部信息 */
.footer {
    background-color: #fff5f5;
    padding:90px;
  }
  .foot-tel {
    color: #e40055;
    font-weight: 700;
    margin-bottom: 3.63636em;
  }
  
  .ft-title{
    font-size: 18px;
  }
  .ft-tel{
    font-size: 14px;
    letter-spacing: 2px;
  }
  .fa-info {
    display: inline-block;
    font-size: 16px;
    color: #e40055;
    width: 20%;
  }
  .fa-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .fa-wenzi{
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }